.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*Added styles*/
  display: block;
  background-color: black;
  width: 100%;
  height: 50px;
  color: white;
}
/*added*/
header {
  display: block;
  background-color: black;
  width: 100%;
  height: 50px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#headerButtons {
/*Added styles*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navButton {
  /*Added styles*/
  float: right;
}
.App-footer {
  /*Added styles*/
  display: block;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
}
